<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GiftMapper">

	<!-- //TEST -->
	<select id="test" resultType="String">
		SELECT NOW()
	</select>
	
	<insert id="registerGift" parameterType="hashMap">
		INSERT INTO GIFTCON(user_id, img_url, brand, barcode_number, expiration_period, registration_date, use_yn, device_id, registrant, product_name, img_local_url, present_id, present_message, present_check) 
		VALUES(#{user_id}, #{img_url}, #{brand}, #{barcode_number}, #{expiration_period}, #{registration_date}, #{use_yn}, #{device_id}, #{registrant}, #{product_name}, #{img_local_url}, NULL, NULL, 0)
	</insert>
	
	<select id="overlapPhoto" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE (img_local_url = #{img_local_url} OR barcode_number = #{barcode_number})
		AND device_id = #{device_id}
	</select>
	
	<select id="giftSaveUsedLogin1" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 1
		AND (user_id = #{user_id} OR device_id = #{device_id})
		AND present_id is null
		ORDER BY registration_date DESC
	</select>
	
	<select id="giftSaveUsedLogin2" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 1
		AND (user_id = #{user_id} OR device_id = #{device_id})
		AND present_id is null
		ORDER BY expiration_period ASC
	</select>
	
	<select id="giftSaveUsedLogin3" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 1
		AND (user_id = #{user_id} OR device_id = #{device_id})
		AND present_id is null
		ORDER BY product_name ASC
	</select>
	
	<select id="giftSaveUsedLogin4" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 1
		AND (user_id = #{user_id} OR device_id = #{device_id})
		AND present_id is null
		ORDER BY brand ASC
	</select>
	
	<select id="giftSaveUnUsedLogin1" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 0
		AND (user_id = #{user_id} OR device_id = #{device_id})
		AND present_id is null
		ORDER BY registration_date DESC
	</select>
	
	<select id="giftSaveUnUsedLogin2" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 0
		AND (user_id = #{user_id} OR device_id = #{device_id})
		AND present_id is null
		ORDER BY expiration_period ASC
	</select>
	
	<select id="giftSaveUnUsedLogin3" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 0
		AND (user_id = #{user_id} OR device_id = #{device_id})
		AND present_id is null
		ORDER BY product_name ASC
	</select>
	
	<select id="giftSaveUnUsedLogin4" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 0
		AND (user_id = #{user_id} OR device_id = #{device_id})
		AND present_id is null
		ORDER BY brand ASC
	</select>
	
	<select id="giftSaveAllLogin1" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE (user_id = #{user_id} OR device_id = #{device_id})
		AND present_id is null
		ORDER BY registration_date DESC
	</select>
	
	<select id="giftSaveAllLogin2" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE (user_id = #{user_id} OR device_id = #{device_id})
		AND present_id is null
		ORDER BY expiration_period ASC
	</select>
	
	<select id="giftSaveAllLogin3" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE (user_id = #{user_id} OR device_id = #{device_id})
		AND present_id is null
		ORDER BY product_name ASC
	</select>
	
	<select id="giftSaveAllLogin4" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE (user_id = #{user_id} OR device_id = #{device_id})
		AND present_id is null
		ORDER BY brand ASC
	</select>
	
	<select id="giftSaveUsedBLogin1" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 1
		AND device_id = #{device_id}
		AND present_id is null
		ORDER BY registration_date DESC
	</select>
	
	<select id="giftSaveUsedBLogin2" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 1
		AND device_id = #{device_id}
		AND present_id is null
		ORDER BY expiration_period ASC
	</select>
	
	<select id="giftSaveUsedBLogin3" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 1
		AND device_id = #{device_id}
		AND present_id is null
		ORDER BY product_name ASC
	</select>
	
	<select id="giftSaveUsedBLogin4" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 1
		AND device_id = #{device_id}
		AND present_id is null
		ORDER BY brand ASC
	</select>
	
	<select id="giftSaveUnUsedBLogin1" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 0
		AND device_id = #{device_id}
		AND present_id is null
		ORDER BY registration_date DESC
	</select>
	
	<select id="giftSaveUnUsedBLogin2" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 0
		AND device_id = #{device_id}
		AND present_id is null
		ORDER BY expiration_period ASC
	</select>
	
	<select id="giftSaveUnUsedBLogin3" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 0
		AND device_id = #{device_id}
		AND present_id is null
		ORDER BY product_name ASC
	</select>
	
	<select id="giftSaveUnUsedBLogin4" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE use_yn = 0
		AND device_id = #{device_id}
		AND present_id is null
		ORDER BY brand ASC
	</select>
	
	<select id="giftSaveAllBLogin1" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE device_id = #{device_id}
		AND present_id is null
		ORDER BY registration_date DESC
	</select>
	
	<select id="giftSaveAllBLogin2" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE device_id = #{device_id}
		AND present_id is null
		ORDER BY expiration_period ASC
	</select>
	
	<select id="giftSaveAllBLogin3" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE device_id = #{device_id}
		AND present_id is null
		ORDER BY product_name ASC
	</select>
	
	<select id="giftSaveAllBLogin4" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE device_id = #{device_id}
		AND present_id is null
		ORDER BY brand ASC
	</select>
	
	<!-- 선물함 -->
	<select id="myPresent1NotUse" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE present_id = #{user_id}
		AND use_yn = 0
		ORDER BY registration_date DESC
	</select>
	
	<select id="myPresent2NotUse" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE present_id = #{user_id}
		AND use_yn = 0
		ORDER BY expiration_period ASC
	</select>
	
	<select id="myPresent3NotUse" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE present_id = #{user_id}
		AND use_yn = 0
		ORDER BY product_name ASC
	</select>
	
	<select id="myPresent4NotUse" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE present_id = #{user_id}
		AND use_yn = 0
		ORDER BY brand ASC
	</select>
	<!-- 선물함 -->
	
	<!-- 선물함 사용 -->
	<select id="myPresent1Use" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE present_id = #{user_id}
		AND use_yn = 1
		ORDER BY registration_date DESC
	</select>
	
	<select id="myPresent2Use" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE present_id = #{user_id}
		AND use_yn = 1
		ORDER BY expiration_period ASC
	</select>
	
	<select id="myPresent3Use" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE present_id = #{user_id}
		AND use_yn = 1
		ORDER BY product_name ASC
	</select>
	
	<select id="myPresent4Use" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE present_id = #{user_id}
		AND use_yn = 1
		ORDER BY brand ASC
	</select>
	<!-- 선물함 사용 -->
	
	<!-- 내가 준 선물 -->
	<select id="giftPresent1" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE user_id = #{user_id}
		AND present_id is not null
		ORDER BY registration_date DESC
	</select>
	
	<select id="giftPresent2" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE user_id = #{user_id}
		AND present_id is not null
		ORDER BY expiration_period ASC
	</select>
	
	<select id="giftPresent3" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE user_id = #{user_id}
		AND present_id is not null
		ORDER BY product_name ASC
	</select>
	
	<select id="giftPresent4" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE user_id = #{user_id}
		AND present_id is not null
		ORDER BY brand ASC
	</select>
	<!-- 내가 준 선물 -->
	
	<!-- Gift Detail  -->
	<select id="giftDetail" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		SELECT * FROM
		GIFTCON
		WHERE seq = #{seq}
	</select>
	
	<!-- Gift Detail  -->
	<select id="giftDelete" resultType="com.savegift.giftcon.GiftVO" parameterType="hashMap">
		DELETE 
		FROM GIFTCON
		WHERE
		seq = #{seq} 
	</select>
	
	<update id="giftRevise">
		UPDATE GIFTCON SET
		brand = #{brand},
		product_name = #{product_name},
		barcode_number = #{barcode_number},
		expiration_period = #{expiration_period},
		use_yn = #{use_yn},
		registration_date = #{registration_date},
		registrant = #{registrant}
		WHERE seq = #{seq}
	</update>
	
	<update id="giftUseyn">
		UPDATE GIFTCON SET
		use_yn = #{use_yn}
		WHERE seq = #{seq}
	</update>
	
	<update id="giftPresent" parameterType="hashMap">
		UPDATE GIFTCON SET
		present_id = #{present_id},
		present_message = #{present_message}
		WHERE seq = #{seq}
	</update>
	
	<update id="updateGiftcontRegistrant" parameterType="hashMap">
		UPDATE GIFTCON SET
		registrant = #{registrant}
		WHERE user_id = #{user_id} 
	</update>
	
	<update id="autoUseYnUpdate">
		UPDATE GIFTCON SET
		use_yn = 1
		WHERE use_yn = 0
		AND expiration_period &lt; CURDATE() 
	</update>
	
	<update id="presentTab1">
		UPDATE GIFTCON SET
		use_yn = #{use_yn}
		WHERE seq = #{seq}
	</update>
	
	<update id="presentTab2">
		UPDATE GIFTCON SET
		present_id = null,
		present_message = null
		WHERE seq = #{seq}
	</update>	
	
</mapper>